.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px;

    &__nav-bar{
        display: flex;
        gap: 75px;
            a{
                text-decoration: none;
                color: #000000;
                font-size: 16px;
                font-weight: 500;
            }
    }
    &__nav-second{
        display: flex;
        gap: 45px;
    }
}
