.shop-container{
    background-image: url('../../../assets/img/bg-shop.png');
    background-size: cover;
    background-position: center;
    height: 316px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__box{
        max-width: 124px;
    }
    &__title{
        font-size: 48px;
        margin-bottom: 10px;
    }
    &__text{
        font-size: 16px;
    }
    &__span{
        font-weight: 700;
    }
}