<section class="home-container">
    <div class="container home-container__content-container">
        <div class="home-container__inner-box">
            <div class="home-container__inner-content-box">
                <span class="home-container__span">New Arrival</span>
                <h1 class="home-container__title">Discover Our<br> New Collection</h1>
                <p class="home-container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                <a href="#" class="home-container__button">BUY NOW</a>
            </div>
        </div>
    </div>
</section>
