<div class="task-container">
    <div class="task-container__task-name">
        <ng-content select="[task-name]"></ng-content>
    </div>
    <!-- <h2 class="task-container__task-name">Task 1</h2> -->
    <div class="task-container__description" (click)="toggle()">
        <div class="task-container__description-box">
            <p class="task-container__description-text">
                <ng-content select="[description-text]" class="task-container__description-text"></ng-content>
            </p>
        </div>
        <div class="task-container__arrow">
            <img class="task-container__arrow-icon" src="../../../assets/img/arrow-down.png" alt="arrow down">
        </div>
    </div>
    <div class="task-container__solution" [ngClass]="{ 'open': isOpen }">
        <div class="task-container__solution-text">
            <ng-content select="[solution-text]"></ng-content>
        </div>
    </div>
</div>