.task-container{
    max-width: 800px;
    text-align: center;
    margin-bottom: 30px;
    &__description{
        border: 1px solid black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__description-text{
        padding: 20px 0;
    }
    &__solution{
        border: none;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    &__solution-text{
        padding: 20px 0;
    }
}

svg{
    max-width: 5vw;
    max-height: 5vh;
}

.open{
    max-height: 50px;
    border: 1px solid black;
}