.calendar-day{
  width: 20px;
  height: 20px;
}

.todayDate{
  background-color: rgb(235, 78, 235);
  width: 20px;
  height: 20px; 
}

.weekendDate{
  background-color: rgb(35, 58, 170);
  width: 20px;
  height: 20px;
  color: rgb(224, 224, 224);
}