<div class="sidebar">
    <a routerLink=""><img src="../../../assets/icons/angular-icon.svg" alt="" class="sidebar__icon"></a>
    <ul class="sidebar__list">
        <li ><a routerLink="examples" class="sidebar__item">Theory<br>examples</a></li>
        <li><a routerLink="js" class="sidebar__item">JS</a></li>
        <li><a routerLink="ts" class="sidebar__item">TS</a></li>
        <li><a routerLink="styles" class="sidebar__item">Styles</a></li>
        <li><a routerLink="components" class="sidebar__item">Components</a></li>
        <li><a routerLink="practice" class="sidebar__item">Practice</a></li>
    </ul>
</div>
