<div class="sidebar">
    <a routerLink=""><img src="../../../assets/icons/angular-icon.svg" alt="" class="sidebar__icon"></a>
    <ul class="sidebar__list">
        <li><a routerLink="examples" routerLinkActive="active" class="sidebar__item">Theory<br>examples</a></li>
        <li><a routerLink="js" routerLinkActive="active" class="sidebar__item">JS</a></li>
        <li><a routerLink="ts" routerLinkActive="active" class="sidebar__item">TS</a></li>
        <li><a routerLink="styles" routerLinkActive="active" class="sidebar__item">Styles</a></li>
        <li><a routerLink="components" routerLinkActive="active" class="sidebar__item">Components</a></li>
        <li><a routerLink="practice" routerLinkActive="active" class="sidebar__item">Practice</a></li>
    </ul>
</div>
